/* ------------------Intro mobile version ------------------------ */
@media only screen and (max-width: 600px) {
   .intro-container {
      padding: 25px !important;
   }

   .intro-container .dev-name {
      font-size: 3rem;

   }

   .intro-container .dev-animation {
      position: absolute;
      font-size: 1.1rem;
      font-weight: normal;
   }

   .intro__content p {
      font-size: 1rem;
      line-height: 1.8rem;
   }

   .intro-buttons {
      width: 100% !important;
   }

   .illustration {
      display: none;
   }
}

/* ------------------Intro Desktop version ----------------------- */
.illustration {
   width: 36.333%;
}
/* ------------------Medium devices--------------------------------- */
@media only screen and (min-width: 500px) and (max-width: 912px) {
   .intro-container {
      padding: 25px !important;
   }

   .intro-header{
      /* border: 1px solid red ; */
   }
   .intro-header > :first-child{
      font-size: 1.4rem;
   }
   .illustration {
      display: none;
   }
   .intro-container .dev-animation {
      position: absolute;
      font-size: 2.2rem;
      font-weight: normal;
   }
   .dev-animation{
      padding-top: 5px !important; ;
   }
}